@font-face {
  font-family: "SFProDisplay-Bold";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background: #f2f3f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

b {
  font-family: "SFProDisplay-Bold", sans-serif;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.container.flex {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100%;
  padding: 15px 30px;
  background: #2D343A;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__logo {
  font-family: "SFProDisplay-Bold", sans-serif;
  color: #d4d1cf;
  font-size: calc(7px + 3 * ((100vw - 320px) / 960));
  margin-bottom: 10px;
}

.header__title {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.header__title h1 {
  text-align: center;
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  color: #d4d1cf;
}

.header__nav {
  width: 100%;
  text-align: center;
}

.header__nav .menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .menu__item {
  margin-right: 15px;
  max-width: 100%;
}

.menu {
  list-style: none;
}

.menu .menu__link {
  text-decoration: none;
  color: #d4d1cf;
}

.menu .menu__link:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
}

.aside {
  width: 100%;
  max-width: 230px;
  background: #2D343A;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
}

.aside__item .aside__item-title {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "SFProDisplay-SemiBold", sans-serif;
  padding: 30px 10px;
  height: 40px;
  color: #d4d1cf;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d4d1cf;
  border-bottom: 1px solid #d4d1cf;
}

.aside__item.content {
  padding: 15px;
  color: #d4d1cf;
  border-top: none;
}

.aside-left .aside-left__menu {
  padding-left: 20px;
}

.aside-left .aside-left__menu .menu__item {
  margin-bottom: 10px;
}

.aside-left .aside-left__menu .menu__item:last-child {
  margin-bottom: 0;
}

.aside-left .aside-left__menu .menu__link {
  border-radius: 10px;
  position: relative;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
}

.aside-left .aside-left__menu .menu__link::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 4px;
  border: 6px solid transparent;
  border-left: 6px solid #d4d1cf;
}

.aside-right .aside-left__menu {
  padding-left: 20px;
}

.aside-right .aside-left__menu .menu__item {
  margin-bottom: 10px;
}

.aside-right .aside-left__menu .menu__item:last-child {
  margin-bottom: 0;
}

.aside-right .aside-left__menu .menu__link {
  border-radius: 10px;
  position: relative;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
}

.aside-right .aside-left__menu .menu__link::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 4px;
  border: 6px solid transparent;
  border-left: 6px solid #d4d1cf;
}

.aphorism {
  color: #b0aaa7;
  font-style: italic;
}

.aphorism__autor {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  text-align: right;
}

.ads-board {
  max-width: 100%;
}

.ads-board .ads-board__title {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  font-family: "SFProDisplay-SemiBold", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}

.ads-board .ads-board__text {
  margin-bottom: 10px;
}

.ads-board .ads-board__image {
  max-width: 100%;
}

.calendar,
.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  border-top: 1px solid #d4d1cf;
  width: 100%;
  color: #d4d1cf;
}

.footer p {
  font-family: 'SFProDisplay-SemiBold', sans-serif;
  font-weight: 600;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  text-align: center;
  background: #2D343A;
  padding: 30px 0;
}

.main {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background: #f2f3f4;
}

.main__title {
  font-family: "SFProDisplay-SemiBold", sans-serif;
  font-size: calc(19px + 11 * ((100vw - 320px) / 960));
  margin: 10px 20px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #d4d1cf;
  border-bottom: 1px solid #d4d1cf;
  width: 100%;
}

.about__image {
  max-width: 100%;
}

.about__image img {
  max-width: 100%;
}

.about .about__text {
  max-width: 50%;
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  padding-left: 20px;
}

.about .about__text span {
  font-family: "SFProDisplay-SemiBold", sans-serif;
}

.about.--word {
  background: url(../img/word.png) 0 center no-repeat;
  display: block;
}

.about.--word .about__text {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  padding-left: 50px;
  max-width: 100%;
}

.about.--paper {
  background: url(../img/paper.png) 0 center/50px no-repeat;
  display: block;
}

.about.--paper .about__text {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  padding-left: 50px;
  max-width: 100%;
}

.main {
  max-width: 50%;
}

.main__image {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.main__image-item {
  max-width: 100%;
}

.main__text p {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  text-indent: 20px;
  margin-bottom: 15px;
}

.retreat {
  background: #2D343A;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  font-style: italic;
  color: #d4d1cf;
  max-width: 80%;
  margin: 30px auto;
  position: relative;
  padding: 30px 20px 30px 40px;
  letter-spacing: 2px;
  border-left: 7px solid #E7BB8E;
}

.retreat__image {
  position: absolute;
  top: 10px;
  left: 0;
}

.main__images {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__images img {
  max-width: 130px;
  margin: 10px;
  height: 150px;
}

.section__title {
  font-family: "SFProDisplay-SemiBold", sans-serif;
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  padding: 7px 0;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background: #2D343A;
  border-radius: 5px;
  color: #d4d1cf;
  margin-bottom: 30px;
}

.awards__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards__images img {
  max-width: 200px;
}

.main-awards {
  max-width: 100%;
  margin-bottom: 30px;
}

.main-awards .main-awards__title {
  font-family: "SFProDisplay-SemiBold";
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  margin-bottom: 10px;
}

.main-awards .main-awards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main-awards .main-awards__item .main-awards__img {
  max-height: 180px;
  max-width: 197px;
}

.main-awards .main-awards__item .main-awards__text {
  margin-left: 30px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
}

.list {
  max-width: 100%;
}

.list .list__item {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  margin-bottom: 10px;
}

.list .list__text {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  margin-bottom: 10px;
}

.list .list__tite {
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
}

.--list-with-links .list__link {
  text-decoration: none;
}

.tabs-triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-triggers__item {
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  text-decoration: none;
  color: red;
  padding-right: 10px;
}

.tabs-triggers__item.active {
  color: black;
}

.tabs-content__item {
  position: absolute;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.tabs-content__item.active {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: static;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.news {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  margin-bottom: 30px;
}

.news__item {
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d4d1cf;
}

.news__title {
  font-family: "SFProDisplay-SemiBold";
  padding-bottom: 10px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
}

.news__top {
  border-top: 1px solid #d4d1cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 30px;
}

.news__date {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  position: absolute;
  top: 5px;
  left: 0;
}

.news__text .news__top-image {
  max-width: 50%;
  float: left;
  padding-right: 10px;
}

.news__text p {
  padding-bottom: 10px;
}

.news__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.news__images img {
  width: 24%;
}

.presentations {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  margin-bottom: 30px;
}

.presentations__item {
  padding-bottom: 50px;
}

.presentations__title {
  font-family: "SFProDisplay-SemiBold";
  padding-bottom: 10px;
}

.presentations__top {
  border-top: 1px solid #d4d1cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 30px;
}

.presentations__date {
  position: absolute;
  top: 5px;
  left: 0;
}

.presentations__text {
  max-width: 100%;
}

.presentations__text .presentations__top-image {
  width: 300px;
  height: 250px;
  float: left;
  padding-right: 10px;
}

.presentations__text p {
  padding-bottom: 10px;
}

.presentations__text-links {
  border-top: 1px solid #d4d1cf;
  padding-top: 10px;
  margin-top: 10px;
}

@media (max-width: 1009px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
  }

  .header__logo {
    margin: 0;
  }

  .header__nav {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    margin: 0 auto;
  }

  .menu-toggle:before,
  .menu-toggle:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 11;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .menu-toggle:before {
    top: 0;
  }

  .menu-toggle:after {
    bottom: 0;
  }

  .menu-toggle span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .menu-toggle.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu-toggle.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu-toggle.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .aside {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 92px;
    padding-bottom: 300px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    overflow-y: auto;
    z-index: 10;
  }

  .aside-right {
    right: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }

  .aside-right.visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .aside-left {
    left: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .aside-left.visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .main {
    margin-top: 145px;
  }

  .main {
    max-width: 100%;
  }
}

@media (max-width: 630px) {
  .about {
    display: block;
    max-width: 100%;
    text-align: center;
  }

  .about .about__text {
    text-align: left;
    max-width: 100%;
    margin-top: 10px;
  }

  .about .about__image {
    width: 100%;
    height: 100%;
  }

  .about .about__image img {
    max-width: 50%;
    max-height: 50%;
  }
}

@media (max-width: 520px) {
  .presentations__text .presentations__top-image {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 514px) {
  .aside {
    top: 129px;
  }

  .main-awards .main-awards__item {
    display: block;
    width: 100%;
  }

  .main-awards .main-awards__item .main-awards__text {
    margin: 0;
  }
}

@media (max-width: 460px) {
  .aside-right {
    display: none;
  }
}

@media (max-width: 425px) {
  .presentations__text .presentations__top-image {
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 403px) {
  .retreat {
    padding: 40px 20px 30px 15px;
  }
}

@media (max-width: 333px) {
  .presentations__text .presentations__top-image {
    width: 250px;
    height: 200px;
  }
}

.webp .about.--word { background: url(../img/word.webp) 0 center no-repeat; }

.webp .about.--paper { background: url(../img/paper.webp) 0 center/50px no-repeat; }